
.pagination{
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 90%;
}

.page-item{
    list-style-type: none;
    margin: 10px;
    border: 1px solid #ccc;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}

.page-item:hover{
    background-color: #ccc;
    color: black;
}

.page-link{
     width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
}