@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.nav-body{
    width: 100%;
    height: 80px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-content-wrapper{
    width: 80%;
    margin: auto;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*color:rgb(38, 25, 101);*/
    color: white;
}

.nav-link{
    text-decoration: none;
    font-size: 1.5rem;
}

.home-h1-div{ 
    text-align: center;
}

.home-h1{
    font-size: 100px;
    color:rgb(38, 25, 101);
}